Client/Connected Services/GameService/GameService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPlayerManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IPartyChat_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPlayerManager_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_RegisterPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_SendFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_AcceptFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_DeclineFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:DeclineFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_LoginResponseHandler_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:LoginResponseHandler" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_LoginResponseHandler_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:LoginResponseHandlerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_RegisterPlayerResponseHandler_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayerResponseHandler" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_RegisterPlayerResponseHandler_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayerResponseHandlerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_SendFriendRequestResponseHandler_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequestResponseHandler" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_SendFriendRequestResponseHandler_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequestResponseHandlerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_ReceiveFriendRequest_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_ReceiveFriendRequest_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_ReceiveFriendAdd_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveFriendAdd" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_ReceiveFriendAdd_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveFriendAddResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyChat_Say_InputMessage">
    <wsdl:part name="parameters" element="tns:Say" />
  </wsdl:message>
  <wsdl:message name="IPartyChat_Whisper_InputMessage">
    <wsdl:part name="parameters" element="tns:Whisper" />
  </wsdl:message>
  <wsdl:message name="IPartyChat_Receive_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Receive" />
  </wsdl:message>
  <wsdl:message name="IPartyChat_Receive_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyChat_ReceiveWhisper_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveWhisper" />
  </wsdl:message>
  <wsdl:message name="IPartyChat_ReceiveWhisper_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveWhisperResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IPlayerManager">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/Login" message="tns:IPlayerManager_Login_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RegisterPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/RegisterPlayer" message="tns:IPlayerManager_RegisterPlayer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/Logout" message="tns:IPlayerManager_Logout_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/SendFriendRequest" message="tns:IPlayerManager_SendFriendRequest_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AcceptFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/AcceptFriendRequest" message="tns:IPlayerManager_AcceptFriendRequest_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeclineFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/DeclineFriendRequest" message="tns:IPlayerManager_DeclineFriendRequest_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LoginResponseHandler">
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/LoginResponseHandler" message="tns:IPlayerManager_LoginResponseHandler_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/LoginResponseHandlerResponse" message="tns:IPlayerManager_LoginResponseHandler_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RegisterPlayerResponseHandler">
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/RegisterPlayerResponseHandler" message="tns:IPlayerManager_RegisterPlayerResponseHandler_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/RegisterPlayerResponseHandlerResponse" message="tns:IPlayerManager_RegisterPlayerResponseHandler_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendFriendRequestResponseHandler">
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/SendFriendRequestResponseHandler" message="tns:IPlayerManager_SendFriendRequestResponseHandler_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/SendFriendRequestResponseHandlerResponse" message="tns:IPlayerManager_SendFriendRequestResponseHandler_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceiveFriendRequest">
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/ReceiveFriendRequest" message="tns:IPlayerManager_ReceiveFriendRequest_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/ReceiveFriendRequestResponse" message="tns:IPlayerManager_ReceiveFriendRequest_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceiveFriendAdd">
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/ReceiveFriendAdd" message="tns:IPlayerManager_ReceiveFriendAdd_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/ReceiveFriendAddResponse" message="tns:IPlayerManager_ReceiveFriendAdd_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IPartyChat">
    <wsdl:operation name="Say">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyChat/Say" message="tns:IPartyChat_Say_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Whisper">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyChat/Whisper" message="tns:IPartyChat_Whisper_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Receive">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyChat/Receive" message="tns:IPartyChat_Receive_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyChat/ReceiveResponse" message="tns:IPartyChat_Receive_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveWhisper">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyChat/ReceiveWhisper" message="tns:IPartyChat_ReceiveWhisper_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyChat/ReceiveWhisperResponse" message="tns:IPartyChat_ReceiveWhisper_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IPlayerManager" type="tns:IPlayerManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IPlayerManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RegisterPlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/RegisterPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/SendFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AcceptFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/AcceptFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DeclineFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/DeclineFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LoginResponseHandler">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/LoginResponseHandler" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPlayerResponseHandler">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/RegisterPlayerResponseHandler" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFriendRequestResponseHandler">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/SendFriendRequestResponseHandler" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/ReceiveFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveFriendAdd">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/ReceiveFriendAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IPartyChat" type="tns:IPartyChat">
    <wsp:PolicyReference URI="#NetTcpBinding_IPartyChat_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Say">
      <soap12:operation soapAction="http://tempuri.org/IPartyChat/Say" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Whisper">
      <soap12:operation soapAction="http://tempuri.org/IPartyChat/Whisper" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Receive">
      <soap12:operation soapAction="http://tempuri.org/IPartyChat/Receive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveWhisper">
      <soap12:operation soapAction="http://tempuri.org/IPartyChat/ReceiveWhisper" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameService">
    <wsdl:port name="NetTcpBinding_IPlayerManager" binding="tns:NetTcpBinding_IPlayerManager">
      <soap12:address location="net.tcp://localhost:8090/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>WILT\xjerr</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IPartyChat" binding="tns:NetTcpBinding_IPartyChat">
      <soap12:address location="net.tcp://localhost:8090/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>WILT\xjerr</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>