Client/Connected Services/GameService/GameService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPlayerManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IPartyChat_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IPartyGame_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IPartyManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPlayerManager_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_RegisterPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_GetFriendList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendList" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_GetFriendRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendRequests" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_SendFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_AcceptFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_DeclineFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:DeclineFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_LoginResponseHandler_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:LoginResponseHandler" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_RegisterPlayerResponseHandler_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayerResponseHandler" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_SendFriendRequestResponseHandler_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequestResponseHandler" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_GetFriendListResponseHandler_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetFriendListResponseHandler" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_GetFriendRequestsResponseHandler_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetFriendRequestsResponseHandler" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_ReceiveFriendRequest_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_ReceiveFriendAdd_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveFriendAdd" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_FriendConnect_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:FriendConnect" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_FriendDisconnect_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:FriendDisconnect" />
  </wsdl:message>
  <wsdl:message name="IPartyChat_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IPartyChat_Say_InputMessage">
    <wsdl:part name="parameters" element="tns:Say" />
  </wsdl:message>
  <wsdl:message name="IPartyChat_Whisper_InputMessage">
    <wsdl:part name="parameters" element="tns:Whisper" />
  </wsdl:message>
  <wsdl:message name="IPartyChat_Receive_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Receive" />
  </wsdl:message>
  <wsdl:message name="IPartyChat_Receive_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyChat_ReceiveWhisper_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveWhisper" />
  </wsdl:message>
  <wsdl:message name="IPartyChat_ReceiveWhisper_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveWhisperResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyGame_ConnectPartyGame_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectPartyGame" />
  </wsdl:message>
  <wsdl:message name="IPartyGame_PlaceTile_InputMessage">
    <wsdl:part name="parameters" element="tns:PlaceTile" />
  </wsdl:message>
  <wsdl:message name="IPartyGame_EndTurn_InputMessage">
    <wsdl:part name="parameters" element="tns:EndTurn" />
  </wsdl:message>
  <wsdl:message name="IPartyGame_PassTurn_InputMessage">
    <wsdl:part name="parameters" element="tns:PassTurn" />
  </wsdl:message>
  <wsdl:message name="IPartyGame_UpdateBoard_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateBoard" />
  </wsdl:message>
  <wsdl:message name="IPartyGame_UpdateBoard_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateBoardResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyGame_UpdatePlayerRack_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerRack" />
  </wsdl:message>
  <wsdl:message name="IPartyGame_UpdatePlayerRack_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerRackResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyGame_UpdatePlayerScore_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerScore" />
  </wsdl:message>
  <wsdl:message name="IPartyGame_UpdatePlayerScore_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerScoreResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyGame_UpdatePlayerTurn_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerTurn" />
  </wsdl:message>
  <wsdl:message name="IPartyGame_UpdatePlayerTurn_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerTurnResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyGame_UpdateBagTilesLeft_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateBagTilesLeft" />
  </wsdl:message>
  <wsdl:message name="IPartyGame_UpdateBagTilesLeft_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateBagTilesLeftResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyGame_SendInvalidTilePlacingError_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendInvalidTilePlacingError" />
  </wsdl:message>
  <wsdl:message name="IPartyGame_SendInvalidTilePlacingError_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendInvalidTilePlacingErrorResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_CreateParty_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateParty" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_LeaveParty_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveParty" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_InvitePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:InvitePlayer" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_AcceptInvitation_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptInvitation" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_KickPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:KickPlayer" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_TransferLeadership_InputMessage">
    <wsdl:part name="parameters" element="tns:TransferLeadership" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_UpdateTimeLimitSetting_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTimeLimitSetting" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_UpdateLanguageSetting_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLanguageSetting" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_CreatePartyCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CreatePartyCallback" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_CreatePartyCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CreatePartyCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_ReceiveInvitation_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveInvitation" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_ReceiveInvitation_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveInvitationResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_AcceptInvitationCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:AcceptInvitationCallback" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_AcceptInvitationCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:AcceptInvitationCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_ReceiveInvitationDecline_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveInvitationDecline" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_ReceiveInvitationDecline_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveInvitationDeclineResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_ReceivePartyPlayerLeave_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceivePartyPlayerLeave" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_ReceivePartyPlayerLeave_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceivePartyPlayerLeaveResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_ReceivePartyPlayerJoin_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceivePartyPlayerJoin" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_ReceivePartyPlayerJoin_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceivePartyPlayerJoinResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_StartGameCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartGameCallback" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_StartGameCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartGameCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_ReceiveGameStart_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveGameStart" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_ReceiveGameStart_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveGameStartResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_ReceivePartyKick_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceivePartyKick" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_ReceivePartyKick_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceivePartyKickResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_ReceivePartyLeaderTransfer_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceivePartyLeaderTransfer" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_ReceivePartyLeaderTransfer_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceivePartyLeaderTransferResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_ReceivePartyTimeLimitUpdate_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceivePartyTimeLimitUpdate" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_ReceivePartyTimeLimitUpdate_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceivePartyTimeLimitUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_ReceivePartyLanguageUpdate_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceivePartyLanguageUpdate" />
  </wsdl:message>
  <wsdl:message name="IPartyManager_ReceivePartyLanguageUpdate_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceivePartyLanguageUpdateResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IPlayerManager">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/Login" message="tns:IPlayerManager_Login_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RegisterPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/RegisterPlayer" message="tns:IPlayerManager_RegisterPlayer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/Logout" message="tns:IPlayerManager_Logout_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetFriendList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/GetFriendList" message="tns:IPlayerManager_GetFriendList_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetFriendRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/GetFriendRequests" message="tns:IPlayerManager_GetFriendRequests_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/SendFriendRequest" message="tns:IPlayerManager_SendFriendRequest_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AcceptFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/AcceptFriendRequest" message="tns:IPlayerManager_AcceptFriendRequest_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeclineFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/DeclineFriendRequest" message="tns:IPlayerManager_DeclineFriendRequest_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LoginResponseHandler">
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/LoginResponseHandler" message="tns:IPlayerManager_LoginResponseHandler_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RegisterPlayerResponseHandler">
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/RegisterPlayerResponseHandler" message="tns:IPlayerManager_RegisterPlayerResponseHandler_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendFriendRequestResponseHandler">
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/SendFriendRequestResponseHandler" message="tns:IPlayerManager_SendFriendRequestResponseHandler_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetFriendListResponseHandler">
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/GetFriendListResponseHandler" message="tns:IPlayerManager_GetFriendListResponseHandler_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetFriendRequestsResponseHandler">
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/GetFriendRequestsResponseHandler" message="tns:IPlayerManager_GetFriendRequestsResponseHandler_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceiveFriendRequest">
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/ReceiveFriendRequest" message="tns:IPlayerManager_ReceiveFriendRequest_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceiveFriendAdd">
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/ReceiveFriendAdd" message="tns:IPlayerManager_ReceiveFriendAdd_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="FriendConnect">
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/FriendConnect" message="tns:IPlayerManager_FriendConnect_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="FriendDisconnect">
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/FriendDisconnect" message="tns:IPlayerManager_FriendDisconnect_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IPartyChat">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyChat/Connect" message="tns:IPartyChat_Connect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Say">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyChat/Say" message="tns:IPartyChat_Say_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Whisper">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyChat/Whisper" message="tns:IPartyChat_Whisper_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Receive">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyChat/Receive" message="tns:IPartyChat_Receive_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyChat/ReceiveResponse" message="tns:IPartyChat_Receive_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveWhisper">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyChat/ReceiveWhisper" message="tns:IPartyChat_ReceiveWhisper_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyChat/ReceiveWhisperResponse" message="tns:IPartyChat_ReceiveWhisper_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IPartyGame">
    <wsdl:operation name="ConnectPartyGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyGame/ConnectPartyGame" message="tns:IPartyGame_ConnectPartyGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlaceTile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyGame/PlaceTile" message="tns:IPartyGame_PlaceTile_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndTurn">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyGame/EndTurn" message="tns:IPartyGame_EndTurn_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PassTurn">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyGame/PassTurn" message="tns:IPartyGame_PassTurn_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBoard">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyGame/UpdateBoard" message="tns:IPartyGame_UpdateBoard_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyGame/UpdateBoardResponse" message="tns:IPartyGame_UpdateBoard_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerRack">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyGame/UpdatePlayerRack" message="tns:IPartyGame_UpdatePlayerRack_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyGame/UpdatePlayerRackResponse" message="tns:IPartyGame_UpdatePlayerRack_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerScore">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyGame/UpdatePlayerScore" message="tns:IPartyGame_UpdatePlayerScore_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyGame/UpdatePlayerScoreResponse" message="tns:IPartyGame_UpdatePlayerScore_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerTurn">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyGame/UpdatePlayerTurn" message="tns:IPartyGame_UpdatePlayerTurn_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyGame/UpdatePlayerTurnResponse" message="tns:IPartyGame_UpdatePlayerTurn_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBagTilesLeft">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyGame/UpdateBagTilesLeft" message="tns:IPartyGame_UpdateBagTilesLeft_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyGame/UpdateBagTilesLeftResponse" message="tns:IPartyGame_UpdateBagTilesLeft_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendInvalidTilePlacingError">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyGame/SendInvalidTilePlacingError" message="tns:IPartyGame_SendInvalidTilePlacingError_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyGame/SendInvalidTilePlacingErrorResponse" message="tns:IPartyGame_SendInvalidTilePlacingError_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IPartyManager">
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyManager/Subscribe" message="tns:IPartyManager_Subscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateParty">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyManager/CreateParty" message="tns:IPartyManager_CreateParty_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveParty">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyManager/LeaveParty" message="tns:IPartyManager_LeaveParty_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyManager/StartGame" message="tns:IPartyManager_StartGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvitePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyManager/InvitePlayer" message="tns:IPartyManager_InvitePlayer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcceptInvitation">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyManager/AcceptInvitation" message="tns:IPartyManager_AcceptInvitation_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KickPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyManager/KickPlayer" message="tns:IPartyManager_KickPlayer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransferLeadership">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyManager/TransferLeadership" message="tns:IPartyManager_TransferLeadership_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTimeLimitSetting">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyManager/UpdateTimeLimitSetting" message="tns:IPartyManager_UpdateTimeLimitSetting_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLanguageSetting">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyManager/UpdateLanguageSetting" message="tns:IPartyManager_UpdateLanguageSetting_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePartyCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyManager/CreatePartyCallback" message="tns:IPartyManager_CreatePartyCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyManager/CreatePartyCallbackResponse" message="tns:IPartyManager_CreatePartyCallback_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveInvitation">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyManager/ReceiveInvitation" message="tns:IPartyManager_ReceiveInvitation_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyManager/ReceiveInvitationResponse" message="tns:IPartyManager_ReceiveInvitation_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcceptInvitationCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyManager/AcceptInvitationCallback" message="tns:IPartyManager_AcceptInvitationCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyManager/AcceptInvitationCallbackResponse" message="tns:IPartyManager_AcceptInvitationCallback_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveInvitationDecline">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyManager/ReceiveInvitationDecline" message="tns:IPartyManager_ReceiveInvitationDecline_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyManager/ReceiveInvitationDeclineResponse" message="tns:IPartyManager_ReceiveInvitationDecline_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceivePartyPlayerLeave">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyManager/ReceivePartyPlayerLeave" message="tns:IPartyManager_ReceivePartyPlayerLeave_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyManager/ReceivePartyPlayerLeaveResponse" message="tns:IPartyManager_ReceivePartyPlayerLeave_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceivePartyPlayerJoin">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyManager/ReceivePartyPlayerJoin" message="tns:IPartyManager_ReceivePartyPlayerJoin_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyManager/ReceivePartyPlayerJoinResponse" message="tns:IPartyManager_ReceivePartyPlayerJoin_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGameCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyManager/StartGameCallback" message="tns:IPartyManager_StartGameCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyManager/StartGameCallbackResponse" message="tns:IPartyManager_StartGameCallback_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveGameStart">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyManager/ReceiveGameStart" message="tns:IPartyManager_ReceiveGameStart_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyManager/ReceiveGameStartResponse" message="tns:IPartyManager_ReceiveGameStart_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceivePartyKick">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyManager/ReceivePartyKick" message="tns:IPartyManager_ReceivePartyKick_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyManager/ReceivePartyKickResponse" message="tns:IPartyManager_ReceivePartyKick_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceivePartyLeaderTransfer">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyManager/ReceivePartyLeaderTransfer" message="tns:IPartyManager_ReceivePartyLeaderTransfer_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyManager/ReceivePartyLeaderTransferResponse" message="tns:IPartyManager_ReceivePartyLeaderTransfer_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceivePartyTimeLimitUpdate">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyManager/ReceivePartyTimeLimitUpdate" message="tns:IPartyManager_ReceivePartyTimeLimitUpdate_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyManager/ReceivePartyTimeLimitUpdateResponse" message="tns:IPartyManager_ReceivePartyTimeLimitUpdate_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceivePartyLanguageUpdate">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyManager/ReceivePartyLanguageUpdate" message="tns:IPartyManager_ReceivePartyLanguageUpdate_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyManager/ReceivePartyLanguageUpdateResponse" message="tns:IPartyManager_ReceivePartyLanguageUpdate_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IPlayerManager" type="tns:IPlayerManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IPlayerManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RegisterPlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/RegisterPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetFriendList">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/GetFriendList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetFriendRequests">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/GetFriendRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/SendFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AcceptFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/AcceptFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DeclineFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/DeclineFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LoginResponseHandler">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/LoginResponseHandler" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPlayerResponseHandler">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/RegisterPlayerResponseHandler" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFriendRequestResponseHandler">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/SendFriendRequestResponseHandler" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendListResponseHandler">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/GetFriendListResponseHandler" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendRequestsResponseHandler">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/GetFriendRequestsResponseHandler" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/ReceiveFriendRequest" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveFriendAdd">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/ReceiveFriendAdd" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendConnect">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/FriendConnect" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendDisconnect">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/FriendDisconnect" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IPartyChat" type="tns:IPartyChat">
    <wsp:PolicyReference URI="#NetTcpBinding_IPartyChat_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IPartyChat/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Say">
      <soap12:operation soapAction="http://tempuri.org/IPartyChat/Say" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Whisper">
      <soap12:operation soapAction="http://tempuri.org/IPartyChat/Whisper" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Receive">
      <soap12:operation soapAction="http://tempuri.org/IPartyChat/Receive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveWhisper">
      <soap12:operation soapAction="http://tempuri.org/IPartyChat/ReceiveWhisper" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IPartyGame" type="tns:IPartyGame">
    <wsp:PolicyReference URI="#NetTcpBinding_IPartyGame_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ConnectPartyGame">
      <soap12:operation soapAction="http://tempuri.org/IPartyGame/ConnectPartyGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PlaceTile">
      <soap12:operation soapAction="http://tempuri.org/IPartyGame/PlaceTile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="EndTurn">
      <soap12:operation soapAction="http://tempuri.org/IPartyGame/EndTurn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PassTurn">
      <soap12:operation soapAction="http://tempuri.org/IPartyGame/PassTurn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateBoard">
      <soap12:operation soapAction="http://tempuri.org/IPartyGame/UpdateBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerRack">
      <soap12:operation soapAction="http://tempuri.org/IPartyGame/UpdatePlayerRack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerScore">
      <soap12:operation soapAction="http://tempuri.org/IPartyGame/UpdatePlayerScore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerTurn">
      <soap12:operation soapAction="http://tempuri.org/IPartyGame/UpdatePlayerTurn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBagTilesLeft">
      <soap12:operation soapAction="http://tempuri.org/IPartyGame/UpdateBagTilesLeft" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendInvalidTilePlacingError">
      <soap12:operation soapAction="http://tempuri.org/IPartyGame/SendInvalidTilePlacingError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IPartyManager" type="tns:IPartyManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IPartyManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IPartyManager/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CreateParty">
      <soap12:operation soapAction="http://tempuri.org/IPartyManager/CreateParty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LeaveParty">
      <soap12:operation soapAction="http://tempuri.org/IPartyManager/LeaveParty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://tempuri.org/IPartyManager/StartGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="InvitePlayer">
      <soap12:operation soapAction="http://tempuri.org/IPartyManager/InvitePlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AcceptInvitation">
      <soap12:operation soapAction="http://tempuri.org/IPartyManager/AcceptInvitation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="KickPlayer">
      <soap12:operation soapAction="http://tempuri.org/IPartyManager/KickPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="TransferLeadership">
      <soap12:operation soapAction="http://tempuri.org/IPartyManager/TransferLeadership" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateTimeLimitSetting">
      <soap12:operation soapAction="http://tempuri.org/IPartyManager/UpdateTimeLimitSetting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateLanguageSetting">
      <soap12:operation soapAction="http://tempuri.org/IPartyManager/UpdateLanguageSetting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CreatePartyCallback">
      <soap12:operation soapAction="http://tempuri.org/IPartyManager/CreatePartyCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveInvitation">
      <soap12:operation soapAction="http://tempuri.org/IPartyManager/ReceiveInvitation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptInvitationCallback">
      <soap12:operation soapAction="http://tempuri.org/IPartyManager/AcceptInvitationCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveInvitationDecline">
      <soap12:operation soapAction="http://tempuri.org/IPartyManager/ReceiveInvitationDecline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceivePartyPlayerLeave">
      <soap12:operation soapAction="http://tempuri.org/IPartyManager/ReceivePartyPlayerLeave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceivePartyPlayerJoin">
      <soap12:operation soapAction="http://tempuri.org/IPartyManager/ReceivePartyPlayerJoin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGameCallback">
      <soap12:operation soapAction="http://tempuri.org/IPartyManager/StartGameCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveGameStart">
      <soap12:operation soapAction="http://tempuri.org/IPartyManager/ReceiveGameStart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceivePartyKick">
      <soap12:operation soapAction="http://tempuri.org/IPartyManager/ReceivePartyKick" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceivePartyLeaderTransfer">
      <soap12:operation soapAction="http://tempuri.org/IPartyManager/ReceivePartyLeaderTransfer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceivePartyTimeLimitUpdate">
      <soap12:operation soapAction="http://tempuri.org/IPartyManager/ReceivePartyTimeLimitUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceivePartyLanguageUpdate">
      <soap12:operation soapAction="http://tempuri.org/IPartyManager/ReceivePartyLanguageUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameService">
    <wsdl:port name="NetTcpBinding_IPlayerManager" binding="tns:NetTcpBinding_IPlayerManager">
      <soap12:address location="net.tcp://localhost:8090/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>BLOO\aiwass</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IPartyChat" binding="tns:NetTcpBinding_IPartyChat">
      <soap12:address location="net.tcp://localhost:8090/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>BLOO\aiwass</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IPartyGame" binding="tns:NetTcpBinding_IPartyGame">
      <soap12:address location="net.tcp://localhost:8090/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>BLOO\aiwass</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IPartyManager" binding="tns:NetTcpBinding_IPartyManager">
      <soap12:address location="net.tcp://localhost:8090/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>BLOO\aiwass</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>