Client/Connected Services/GameService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="PlayerManager.PlayerAuthResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="InvalidCredentials" />
      <xs:enumeration value="IncorrectPassword" />
      <xs:enumeration value="DatabaseError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PlayerManager.PlayerAuthResult" nillable="true" type="tns:PlayerManager.PlayerAuthResult" />
  <xs:simpleType name="PlayerManager.PlayerResgisterResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="PlayerAlreadyExists" />
      <xs:enumeration value="InvalidInputs" />
      <xs:enumeration value="DatabaseError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PlayerManager.PlayerResgisterResult" nillable="true" type="tns:PlayerManager.PlayerResgisterResult" />
  <xs:simpleType name="PlayerManager.PlayerFriendRequestResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="SelfRequest" />
      <xs:enumeration value="AlreadyFriends" />
      <xs:enumeration value="PendingRequest" />
      <xs:enumeration value="SenderPlayerDoesNotExists" />
      <xs:enumeration value="ReceiverPlayerDoesNotExists" />
      <xs:enumeration value="DatabaseError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PlayerManager.PlayerFriendRequestResult" nillable="true" type="tns:PlayerManager.PlayerFriendRequestResult" />
</xs:schema>