Client/Connected Services/GameService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Avatar" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GamesCount" type="xs:int" />
      <xs:element minOccurs="0" name="IsGuest" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Registered" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" type="tns:Player.StatusType" />
      <xs:element minOccurs="0" name="WinsCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:simpleType name="Player.StatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Offline" />
      <xs:enumeration value="Online" />
      <xs:enumeration value="InGame" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Player.StatusType" nillable="true" type="tns:Player.StatusType" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
  <xs:simpleType name="DisconnectionReason">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DuplicatePlayerSession" />
      <xs:enumeration value="ServerShutdown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DisconnectionReason" nillable="true" type="tns:DisconnectionReason" />
  <xs:complexType name="Party">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Leader" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="Players" nillable="true" type="tns:ArrayOfPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Party" nillable="true" type="tns:Party" />
  <xs:simpleType name="GameStartResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="NotEnoughPlayers" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameStartResult" nillable="true" type="tns:GameStartResult" />
</xs:schema>